.shop {
  &__inner {
    display: flex;
    padding: 110px 0;

    @include r($brackpoint-990) {
     display: block;
     padding: 20px 0;
    }
  }

  &__btn {
    font-family: $rubik;
    font-weight: 400;
    color: $blue-700;
    background-color: $grey-400;
    padding: 10px 20px 10px 15px;
    max-width: 270px;
    width: 100%;
  }

  &__filters {
    margin-right: 30px;

    @include r($brackpoint-990) {
      position: absolute;
      margin-right: 0;
      padding: 10px;
      max-width: 270px;
      width: 100%;
      background-color: $white;
      z-index: 4;
      transform: translateX(-200%);
      transition: transform 1s;
      transition-timing-function: ease;
      -webkit-box-shadow: 0px 0px 11px 4px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 0px 11px 4px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 0px 11px 4px rgba(34, 60, 80, 0.2);
    }
  }
  
  &__filters--active {
    transform: translateX(0);
  }

  &__filters-btn {
    padding: 10px 10px;
    display: none;
    margin-bottom: 15px;

    @include r($brackpoint-990) {
      display: block;
    }
  }

  .filter {
    position: relative;

    &__item {
      width: 270px;

      @include r($brackpoint-990) {
        width: 100%;
      }
    }

    &__title {
      position: relative;
      max-width: 90%;
      font-family: $dmsans;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 30px;
      padding-right: 20px;
      text-transform: uppercase;
      display: inline-block;
      @include linecalc(2, 1); 

      @include r($brackpoint-990) {
        margin-bottom: 20px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 9px;
        width: 40px;
        height: 2px;
        transform: translateX(15px);
        border-bottom: 2px solid $blue-300;
      }
    }
  }

  .filter-category {
    margin-bottom: 55px;

    @include r($brackpoint-990) {
      margin-bottom: 30px;
    }

    &__lable {
      display: flex;
    }

    &__input {
      @extend %checkbox-hidden;

      &:checked+.filter-category__checkbox {
        background-color: $grey-400;

        span {
          &:last-child {
            color: $blue-700;
          }
        }
      }
    }

    &__checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 43px;
      padding: 0 20px 0 10px;
      border-radius: 8px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 0.3s;

      span {
        &:first-child {
          @include linecalc(1, 1); 
          max-width: 210px;
          width: 100%;
        }
      }

      &:hover {
        border: 2px solid $grey-400;
      }
    }
  }

  .filter-price {
    margin-bottom: 80px;
    color: $blue-700;
    font-family: $rubik;
    font-weight: 400;
    font-size: 14px;

    @include r($brackpoint-990) {
      margin-bottom: 30px;
    }

    .filter__title {
      margin-bottom: 10px;
    }

    &__input {
      margin-bottom: 30px;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
    }

    &__from,
    &__to {
      border: 1px solid $blue-300;
      border-radius: 5px;
      max-width: 40px;
      text-align: center;

      &:focus {
        outline: transparent;
        border: 1px solid $blue-700;
      }
    }

    .irs-bar {
      top: 36px;
      height: 4px;
      background-color: $blue-300;
    }

    .irs-handle {
      position: absolute;
      display: block;
      top: 29px;
      width: 16px;
      height: 16px;
      border-radius: 0;
      border: none;
      background-color: $blue-300;
    }

    .irs-from,
    .irs-to,
    .irs-min,
    .irs-max,
    .irs-single {
      display: none;
    }
  }

  .filter-brand {
    .filter-category__checkbox {
      span {
        &:last-child {
          color: $grey-500;
          margin: 0 auto;
        }
      }
    }    
  }

  .filter-recent {
    .recent {

      &__item {
        margin-bottom: 20px;
        border: 2px solid transparent;
        transition: border-color 0.3s;

        &:hover {
          border-color: $yellow-700;
        }
      }

      &__link {
        display: flex;
      }

      &__img {
        width: 70px;
        height: 70px;
        object-fit: scale-down;
        border: 2px solid $grey-200;
        margin-right: 15px;
      }

      &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        @include linecalc(1, 1); 
      }

      &__price {
        font-size: 15px;
      }
    }

    .star {
      cursor: pointer;
    }
  }

  &__content {
    align-items: center;
    text-align: center;

    .content-filter {
      padding: 20px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      @include r($brackpoint-576) {
        padding: 10px;
        margin-bottom: 15px;
     }

      &__btn {
        width: 30px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        margin-right: 25px;

        &.content-filter__btn--active{
          svg {
            fill: $blue-800;
          }
        }
        
        svg {
          fill: $grey-500;
          
          &:hover {
            fill: $blue-800;
          }        
        }
      }
    }
  }

  .products__items {
    grid-template-columns: repeat(3, 270px);
    margin-bottom: 0;

    @include r($brackpoint-1200) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      row-gap: 10px;
    }

    @include r($brackpoint-990) {
      margin-bottom: 20px;
    }

    @include r($brackpoint-576) {
      grid-template-columns: minmax(150px, 470px);
      margin: 10px;
      grid-auto-rows: 310px;
   }

    .product-card {

      &__img {
        @include r($brackpoint-1200) {
        width: 100%;
      }
    }

      &__description,
      &__btn,
      &__btn--inactive {
        display: none;
      }
    }

    .star-xl {
      display: none;
    }

    &.products__items--list {
      display: block;

      .product-card {
        padding: 0;
        flex-direction: row;
        justify-content: start;
        height: 500px;
        margin-bottom: 40px;
        align-items: center;
        position: relative;

        @include r($brackpoint-990) {
          height: 300px;
        }

        @include r($brackpoint-576) {
          flex-direction: column;
          height: 100%;
          padding: 10px;
          margin-bottom: 15px;
        }

        &__img {
          width: 370px;
          height: 100%;
          margin-bottom: 0;
          border: 2px solid $grey-400;
          padding: 25px;
          margin-right: 60px;
          object-fit: contain;

          @include r($brackpoint-1200) {
            width: 40%;
            min-width: 40%;
            height: 100%;
          }

          @include r($brackpoint-990) {
            padding: 10px;
            margin-right: 20px;
          }    

          @include r($brackpoint-576) {
            margin: 0 auto;
            margin-bottom: 10px;
          } 
        }

        &__info {
          text-align: left;

          @include r($brackpoint-576) {
            text-align: center;
            margin: 0 auto;
          } 
        }

        &__name {
          font-size: 40px;
          font-weight: 400;
          color: $black-300;
          max-width: 440px;

          @include r($brackpoint-990) {
            font-size: 25px;
          }

          @include r($brackpoint-576) {
            margin: 0 auto;          
          }
        }

        &__price {
          font-size: 30px;
          color: $black-300;
          margin-bottom: 35px;
          display: flex;

          @include r($brackpoint-990) {
            font-size: 25px;
            margin-bottom: 10px;
          }

          @include r($brackpoint-576) {
            justify-content: center;          
          }
        
          span {

            &:last-child {
             display: none;
            }

            &:nth-child(2) {
              order: -1;
            }
          }
        }

        &__description {
          display: block;
          color: $blue-700;
          line-height: 1.5;
          margin-bottom: 25px;
          @include linecalc(4, 2); 

          @include r($brackpoint-990) {
            color: $blue-700;
            margin-bottom: 20px;
            font-size: 14px;
            @include linecalc(4, 1.2); 
  
          }
        }

        &__btn {
          display: block;
          padding: 15px 53px;
          border-radius: 5px;
          text-transform: uppercase;
          position: relative;

          @include r($brackpoint-990) {
            margin: 0 auto; 
          }

          @include r($brackpoint-576) {
            padding: 10px 25px;
            font-size: 12px;
          }
        }

        &__link-box {
          position: absolute;
          transform: translateY(120px);
          right: -160px;
          bottom: 5px;

          @include r($brackpoint-990) {
            padding-left: 30px;
            transform: translateY(300px);
            left: 0; 
            right: 0; 
            top: 50%;
            bottom: 50%;
            max-height: 45px;
            z-index: 3;
          }

          &--active {
            transform: translateY(0);
          }

          &:hover {
            transform: translateY(0);
          }
        }

        &__link {
          border-radius: 0;

          &:first-child {
            display: none;
          }
        }

        .star-xl {
          display: block;
          padding: 5px 0 30px;
          z-index: 1;

          @include r($brackpoint-990) {
            padding: 5px 0 20px;
          }

          @include r($brackpoint-576) {
            margin: 0 auto; 
            padding: 0 0 10px;
            transform: scale(0.8);
          }
        }
      }
    }
  }

}