
body {
  font-family: $rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $blue-700;
  background-color: $white;
}

a {
  transition: color 0.3s;
  
  &:hover {
    color: $blue-800;
  }
}

path {
  transition: fill 0.3s;
}

svg {
  transition: fill 0.3s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;

  @include r($brackpoint-576) {
    padding: 0 5px;
  }
  
  &--sm {
    max-width: 1200px;
  }
}

.title {
  color: $black-700;
  font-family: $dmsans;
  font-weight: 700;
  font-size: 36px;

  @include r($brackpoint-576) {
    font-size: 25px;
  }
}

.btn {
  font-family: $dmsans;
  font-weight: 400;
  color: $white;
  line-height: 0;
  background-color: $blue-300;
  border: 1px solid $blue-300;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: $blue-300;
    background-color: $white;
  }
}

