
// black
$black-700: #191919;
$black-500: #262626;
$black-300: #333333;

// white
$white: #fff;
$white-200: #fbfbfb;

// blue
$blue-200: #c2d2db;
$blue-300: #a3bbc8;
$blue-400: #436372;
$blue-500: #565872;
$blue-700: #243f4d;
$blue-750: #234969;
$blue-770: #222933;
$blue-800: #1f2044;

// grey
$grey-200: #f8f8f8;
$grey-300: #ebebeb;
$grey-400: #edf1f4;
$grey-500: #8b8b8b;
$grey-700: #7b7b7b;
$grey-800: #585858;
$grey-900: #414141;

// yellow
$yellow-100: #feefe2;
$yellow-200: #fef7f0;
$yellow-300: #fde3cc;
$yellow-400: #fde7d3;

$yellow-700: #fcd7b6;

// fonts
$dmsans: 'DMSans', sans-serif;
$rubik: 'Rubik', sans-serif;

//brackpoints
$brackpoint-1460: 1460; //only for top slider//
$brackpoint-1200: 1220;
$brackpoint-990: 990;
$brackpoint-768: 768;
$brackpoint-576: 576;

%focus-basic{
  outline: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px $black-700;
}

%focus-menu{
  outline: transparent;
  background-color: $yellow-700;
}


@mixin linecalc($n, $lh) {
  @if $n == 1 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: $lh;
  } @else {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-line-clamp: $n;
      -moz-line-clamp: $n;
      line-clamp: $n;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      overflow: hidden;
      line-height: $lh;
      height: $lh * $n;
  }
}

@mixin r($width) {
  @media only screen and (max-width: $width + 'px') {
    @content;
  }
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}



