.page-top {
  background-color: $grey-400;
  padding: 165px 0 35px;
  text-align: center;

  @include r($brackpoint-990) {
    padding: 100px 0 30px;
  }

  @include r($brackpoint-576) {
    padding: 85px 0 15px;
  }

  &__title {
    font-size: 36px;
    font-weight: 300;
    color: $blue-770;
    margin-bottom: 10px;
    padding: 0 10px;
    @include linecalc(1, 1.2);
  }

  .breadcrumbs {
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__item {
      font-size: 14px;
      color: $grey-500;
      padding-right: 20px;
      position: relative;

      &::after {
        content: "/";
        position: absolute;
        right: 7px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}