.header {
  position: fixed;
  background-color: $white;
  right: 0;
  left: 0;
  z-index: 100;

  &__logo {
    margin-right: 155px;

    @include r($brackpoint-1200) {
      margin-right: 20px;
    }

    @include r($brackpoint-990) {
      margin-right: 5px;
    }

    &:focus {
      @extend %focus-basic;
    }
  }
}

.logo {

  &__img {
    max-width: 170px;
    max-height: 40px;
    object-fit: cover;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $blue-400;
  padding: 45px 0;
  font-family: $rubik;
  font-weight: 500;
  transition: padding 0.5s;

  @include r($brackpoint-990) {
    padding: 10px 0;
  }

  &__btn-nav {
    border: none;
    background-color: transparent;
    display: none;
    z-index: 2;
    transition: transform 0.3s;

    @include r($brackpoint-576) {
      display: block;
    }

    svg {
      fill: $blue-300;

      &:hover {
        fill: $yellow-700;
      }
    }
  }

  &__btn-nav--active {
    transform: rotate(180deg);
  }

  &__list {
    display: flex;

    @include r($brackpoint-990) {
      transform: translateY(-160%);
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $grey-400;
      z-index: 5;
      transition: transform 0.3s;
    }

    @include r($brackpoint-576) {
      top: 75px;
    }
  }

  &__list--active {
    @include r($brackpoint-990) {
      transform: translateY(0);
    }
  }

  &__item {
    max-width: 85px;

    @include r($brackpoint-990) {
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 0 15px;
    }

    &:not(:last-child) {
      margin-right: 35px;

      @include r($brackpoint-1200) {
        margin-right: 20px;
      }

      @include r($brackpoint-990) {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: block;
    font-size: 15px;
    border-bottom: 1px solid transparent;
    transition: color 0.5s, border-bottom 0.5s;
    @include linecalc(1, 1.2);

    @include r($brackpoint-990) {
      display: block;
      padding: 15px 0 15px;
      width: 100%;
    }

    &:hover {
      border-color: $black-700;
    }

    &:focus {
      @extend %focus-menu;
    }
  }

  &__link--active {
    border-color: $black-700;
  }

  &__btn {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    display: none;
    transition: transform 0.5s;
    order: 3;

    @include r($brackpoint-990) {
      display: block;
    }

    svg {
      fill: $blue-300;

      &:hover {
        fill: $yellow-700;
      }
    }
  }

  &__btn--active {
    transform: rotate(90deg);
  }

  &__bg {
    padding: 10px 0;
  }
}


.user-nav {
  display: flex;

  @include r($brackpoint-576) {
    position: absolute;
    top: 75px;
    transform: translateX(-310px);
    transition: transform 0.3s;
  }

  svg {
    fill: $blue-700;
  }

  &__search,
  &__other {
    display: block;
    padding: 17px 17px 14px 17px;
    background-color: $grey-400;
    border-radius: 50%;
    margin-right: 20px;

    @include r($brackpoint-768) {
      margin-right: 5px;
    }

    &:hover {
      svg {
        fill: $white;
      }
    }

    &:focus {
      @extend %focus-basic;
    }
  }

  &__other {
    background-color: $blue-300;
    padding: 14px 14px 11px 15px;
    margin-right: 0;

    &:hover {
      svg {
        fill: $blue-700;
      }
    }

    svg {
      fill: $white;
    }
  }

  &__fav,
  &__basket {
    display: block;
    padding: 20px 40px 5px 27px;
    background-color: $yellow-700;
    border-radius: 0 25px 25px 0;
    margin-right: 20px;
    position: relative;

    @include r($brackpoint-768) {
      margin-right: 5px;
    }

    &:hover {

      svg,
      path {
        fill: $white;
      }
    }

    &:focus {
      @extend %focus-basic;
    }
  }

  &__fav {
    padding: 21px 30px 5px 41px;
    border-radius: 25px 0 0 25px;
    margin-right: 0;


    &::after {
      content: "";
      width: 1px;
      height: 32px;
      position: absolute;
      background-color: $yellow-400;
      font-size: 35px;
      right: 0;
      top: 8px;
    }
  }

  &__num {
    position: absolute;
    color: $blue-400;
    top: 13px;
    right: 34px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    background-color: $white;
    border-radius: 50%;

    &--favorite {
      right: 22px
    }
  }
}

.user-nav--active {
  @include r($brackpoint-576) {
    transform: translateX(0);
  }
}