<ul class="pagination">
  <li class="pagination__item pagination__item--active">
    <span class="pagination__link" href="#" >
      <span class="pagination__pagenum">1</span>
    </span>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#" >
      <span class="pagination__pagenum">2</span>
    </a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#" >
      <span class="pagination__pagenum">3</span>
    </a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#" >
      <span class="pagination__pagenum">Next</span>
    </a>
  </li>
</ul>