.new-design {
    
  &__title {
    padding-top: 95px;
    margin-bottom: 30px;
    text-align: center;
    @include linecalc(1, 1); 

    @include r($brackpoint-576) {
      padding: 30px 0 15px;
      margin-bottom: 0;

    }
  }
  
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-auto-rows: 250px;
    gap: 30px;
    padding-bottom: 120px;

    @include r($brackpoint-1200) {
      grid-template-columns: 1fr 1fr;
    }

    @include r($brackpoint-990) {
      gap: 10px;
      row-gap: 10px;
    }

    @include r($brackpoint-576) {
      grid-template-columns: 1fr;
      margin: 0;
      padding-bottom: 25px;
    }
  }

  &__item {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);

      @include r($brackpoint-1200) {
        transform: scale(0.9);
      }
    }
  }

  .design-card {
    position: relative;
    background-color: $grey-200;
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    font-family: $dmsans;
    font-weight: 700;
    overflow: hidden;
   
    &__img {
      position: absolute;
      left: 100px;
      bottom: 30px;
      max-height: 190px;
      max-width: 400px;
      object-fit: scale-down;
    }

    &--sm {
      left: 200px;
    }

    &__name {
      font-size: 20px;
      color: $black-700;
      max-width: 180px;
      margin-bottom: 15px;
      @include linecalc(2, 1); 
    }

    &__style {
      display: block;
      font-size: 16px;
      color: $blue-300;
      max-width: 180px;
      @include linecalc(1, 1); 
    }
  }
}

.video {
  height: 51vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center center;

  @include r($brackpoint-576) {
    height: 40vh;
  }

    &::before {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  &:hover::after {
    opacity: 1;
  }
  
  &::before {
    content: "";
    background-image: url(../images/video-play.svg);
    width: 140px;
    height: 140px;
    z-index: 1;

    @include r($brackpoint-576) {
      width: 100px;
      height: 100px;
    }
  }
}




