.products {
  text-align: center;
  background-color: $white;

  &__title {
    padding: 70px 0 30px;
    @include linecalc(1, 1.2); 
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: 380px;
    gap: 30px;
    row-gap: 40px;
    margin-bottom: 80px;
  }

  &__item {
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__best {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;
    gap: 30px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;

  &__item {
    max-width: 90px;
    @include linecalc(1, 1); 
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    font-family: $dmsans;
    font-weight: 700;
    font-size: 16px;
    color: $grey-500;
    border: none;
    background-color: transparent;
    transition: color 0.3s;

    &:hover {
      color: $black-700;
    }
  }

  .mixitup-control-active {
    color: $black-700;
  }
}



.product-card {
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  font-family: $dmsans;
  font-weight: 700;
  font-size: 16px;
  color: $blue-700;
  overflow: hidden;

  &:hover,
  &:focus-within {
    outline: transparent;

    .product-card__link-box {
      transform: translateY(0);
    }
  }

  &__img {
    width: 210px;
    height: 240px;
    object-fit: scale-down;
    margin-bottom: 30px;
  }

  &__link-box {
    position: absolute;
    display: flex;
    max-width: 170px;
    margin: 0 auto;
    right: 0;
    left: 0;
    align-items: center;
    bottom: 100px;
    transform: translateY(150px);
    transition: transform 0.5s;

    svg {
      fill: $blue-300;
    }
  }

  &__link {
    background-color: $white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-top: 13px;
    box-shadow: -2px 3px 11px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      background-color: $blue-300;
      
      svg {
        fill: $white;
      }
    }
  }

  &__name {
    font-size: 16px;
    color: $blue-700;
    margin-bottom: 15px;
    @include linecalc(1, 1); 
  }

  &__price {
    font-size: 16px;
    display: block;
    color: $blue-300;
    @include linecalc(1, 1); 
  }
}

.bestproduct-card {
  background-color: $yellow-100;
  display: flex;
  text-align: left;
  align-items: center;
  margin-top: 110px;
  padding-left: 45%;
  width: 100%;
  position: relative;

  &__img {
    position: absolute;
    bottom: 90px;
    right: 57%;
    max-width: 240px;
    max-height: 410px;
    height: 100%;
    object-fit: scale-down;
  }

  &__wrap {
    max-width: 350px;
    margin-right: 15%;
  }

  &__title {
      font-family: $dmsans;
      font-weight: 700;
      font-size: 26px;
      color: $blue-700;
      position: relative;
      margin-bottom: 35px;
      @include linecalc (2, 1.2);
    }
  
  &__text {
    font-family: $rubik;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
    @include linecalc (3, 1.2);
  }

  &__link {
    display: inline-block;
    padding: 25px 10px 25px 30px;
    border-radius: 5px;
    background-color: transparent;
    font-family: $rubik;
    font-weight: 700;
    font-size: 15px;
    color: $blue-400;

    &:hover {
      background-color: $white;
      color: $blue-400;
    }

    svg {
      fill: $blue-400;
    }

    path {
      fill: $blue-400;
    }

    span {
      margin-left: 40px;
    }
  }
}

